Package           Version
----------------- -------
asgiref           3.3.4
backcall          0.2.0
bcrypt            3.2.0
cffi              1.14.5
colorama          0.4.4
decorator         5.0.9
Django            3.2.3
ipython           7.27.0
jedi              0.18.0
matplotlib-inline 0.1.2
parso             0.8.2
pickleshare       0.7.5
Pillow            8.2.0
pip               21.1.1
prompt-toolkit    3.0.20
pycparser         2.20
Pygments          2.10.0
pytz              2021.1
setuptools        56.0.0
six               1.16.0
sqlparse          0.4.1
traitlets         5.1.0
wcwidth           0.2.5