{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/logo.jpg' %}" />
    <title>Dragons Edge Creations</title>
</head>
<body>
    <header>
        <img src="{% static 'images/header.jpg' %}" alt="Header Image" class='border'>
        <nav>
            {% block menu %} {% include 'menu.html' %} {% endblock menu %}
        </nav>
        {% block adminMenu %} {% include 'admin/adminMenu.html' %} {% endblock %}
    </header>
    <div>
        {% if messages %}
        <section class='messages'>
            {% for message in messages %}
            <h3 {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h3>
            {% endfor %}
        </section>
        {% endif %}
    </div>
    <main>
        <table>
            <tr>
                <th>Event Name</th>
                <th>Event Date</th>
                <th>Upcoming Event</th>
                <th>Past Event</th>
                <th>Actions</th>
            </tr>
            {% for event in events %}
                <tr>
                    <td>{{event.eventName}}</td>
                    <td>{{event.date|date:"M d, Y"}}</td>
                    <td>{% if event.eventStatus == 0 %}
                        Yes
                    {% endif %}</td>
                    <td>{% if event.eventStatus == 1 %}
                        Yes
                    {% endif %}</td>
                    <td><a href="/theAdmin/event/{{event.id}}/edit/">Edit Event</a> | <a href="/theAdmin/event/{{event.id}}/delete/">Delete Event</a></td>
                </tr>
            {% endfor %}
        </table>
    </main>
    <footer>
        {% block footer %} {% include 'footer.html' %} {% endblock footer %}
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>