{% extends "base.html" %}
{% load static %}
{% block content %}
<nav>
    <a href="/theAdmin/products/">Products</a>
    <a href="/theAdmin/events/">Events</a>
    <a href="/theAdmin/customers/">Customers</a>
    <a href="#">Edit Profile</a>
    <a href="#">Login to Blog</a>
    <button><a href="/logout/">Logout</a></button>
</nav>
<div>
    {% if messages %}
    <section class='messages'>
        {% for message in messages %}
        <h3 {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h3>
        {% endfor %}
    </section>
    {% endif %}
</div>
<table>
    <tr>
        <th>Product Name</th>
        <th>Book</th>
        <th>Art</th>
        <th>Actions</th>
    </tr>
    {% for prod in product %}
        <tr>
            <td>{{prod.prodName}}</td>
            <td>{% if prod.prodType == 0 %}
                Yes
            {% endif %}</td>
            <td>{% if prod.prodType == 1 %}
                Yes
            {% endif %}</td>
            <td><a href="/theAdmin/product/{{prod.id}}/edit/">Edit</a> | <a href="/theAdmin/product/{{prod.id}}/edit/">Add Image</a> | <a href="/theAdmin/product/{{prod.id}}/delete">Delete Product</a></td>
        </tr>
    {% endfor %}
</table>
    {%endblock%}
