{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/logo.jpg' %}" />
    <title>Dragons Edge Creations</title>
</head>
<body>
    <header>
        <img src="{% static 'images/header.jpg' %}" alt="Header Image" class='border'>
        <nav>
            {% block menu %} {% include 'menu.html' %} {% endblock menu %}
        </nav>
    </header>
    <div>
        {% if messages %}
        <section class='messages'>
            {% for message in messages %}
            <h3 {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h3>
            {% endfor %}
        </section>
        {% endif %}
    </div>
    <main>
        <div class="row">
            <form action='/theAdmin/signup/' method='post'>
                {% csrf_token %}
                <section>
                    <label for='username'>Username</label>
                    <input name='username' id='username' type='text'>
                </section>
                <section>
                    <label for='password'>Password</label>
                    <input name='password' id='password' type='password'>
                </section>
                <button>Sign In</button>
            </form>
            <form action='/theAdmin/register/' method='post'>
                {% csrf_token %}
                <section>
                    <label for='firstName'>First Name:</label>
                    <input type='text' name='firstName' id='firstName'>
                </section>
                <section>
                    <label for='lastName'>Last Name:</label>
                    <input type='text' name='lastName' id='lastName'>
                </section>
                <section>
                    <label for='username'>Username:</label>
                    <input type='text' name='username' id='username'>
                </section>
                <section>
                    <label form='email'>Email Address:</label>
                    <input type='email' name='email' id='email'>
                </section>
                <section>
                    <label for='password'>Password:</label>
                    <input type='password' name='password' id='password'>
                </section>
                <section>
                    <label for='confirm'>Confirm Password</label>
                    <input type='password' name='confirm' id='confirm'>
                </section>
                <section>
                    <label for="adminKey">Enter the Admin Key:</label>
                    <input type="password" name="adminKey">
                </section>
                <button>Submit and Login</button>
            </form>
    </main>
    <footer>
        <img src="{% static 'images/header.jpg' %}" alt="Header Image" class='border'>
    </footer>
</body>
</html>