{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/logo.jpg' %}" />
    <title>Dragons Edge Creations</title>
</head>
<body>
    <header>
        <img src="{% static 'images/header.jpg' %}" alt="Header Image" class='border'>
        <nav>
            {% block menu %} {% include 'menu.html' %} {% endblock menu %}
        </nav>
        {% block adminMenu %} {% include 'admin/adminMenu.html' %} {% endblock %}
    </header>
    <div>
        {% if messages %}
        <section class='messages'>
            {% for message in messages %}
            <h3 {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h3>
            {% endfor %}
        </section>
        {% endif %}
    </div>
    <main>
        <form action='/theAdmin/event/{{event.id}}/update/' method='post'>
            {% csrf_token %}
            <section>
                <label for="eventName">EventName: </label>
                <input type="text" name="eventName" value='{{event.eventName}}'>
            </section>
            <section>
                <label for="date">Event Date: </label>
                <input type="date" name="date" value='{{event.date}}'>
            </section>
            <section>
                <label for="details">Details: </label>
                <textarea name="details"cols="30" rows="10">{{event.details}}</textarea>
            </section>
            <section>
                <label for="location">Location: </label>
                <input type="text" name="location" value='{{event.location}}'>
            </section>
            <section>
                <label for="eventStatus">Current or Past Event: </label>
                <span>Current Value: {% if event.eventStatus == 0 %}
                    Upcoming Event
                {% else %}
                    Past Event
                {% endif %}</span>
                <select name="eventStatus">
                    <option value="0">Upcoming Event</option>
                    <option value="1">Past Event</option>
                </select>
            </section>
            <button>Update Event</button>
        </form>
    </main>
    <footer>
        {% block footer %} {% include 'footer.html' %} {% endblock footer %}
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>