{% extends "base.html" %}
{% load static %}
{% block content %}
    <table>
        {% for book in books | sort(attribute='prodName') %}
            <tr>
                <td>{% if book.prodimg.prodimg == 'default.jpg' %}
                    Image Coming Soon
                {% else %}
                <img src="{{book.prodimg.prodimg.url}}" alt="{{book.prodimg.imageName}}">
                {% endif %}</td>
                <th>{{book.prodName}}</th>
                <td>{{book.author}}</td>
                <td>{{book.prodPrice}}</td>
                <td><button><a href="/books/{{book.id}}/view">View Details</a></button></td>
            </tr>
        {% endfor %}
    </table>
{%endblock%}