{% load static %}
<!DOCTYPE html>
<html lang="en">
<body>
    {% block footer %}
        <div class="social">
            <a href="https://calendly.com/dragonsedgecreations/30min">Calendly</a>
            <a href="https://www.facebook.com/groups/dragonsedgecreations/"><img src="https://images.craftsnherbs.com/icons/facebook.png" alt="facebook">Facebook</a>
            <a href="https://www.linkedin.com/company/dragonsedgecreations/"><img src="https://images.craftsnherbs.com/icons/linkedin.png" alt="linkedIn">LinkedIn</a>
            <a href="/theAdmin/"><img src="{% static 'images/dragonIcon.jpg'%}" alt="Logo Image" id="admin"></a>
        </div>
        <div class="social">
            <h4>&#169; 2022 - 2023 Dragons Edge Creations</h4>
            <h4>Created by:<a href="https://beedev-services.com" target="_blank"><img src="https://images.craftsnherbs.com/beedev/beelogo.jpg" alt="BeeDev Services">BeeDev Services</a></h4>
        </div>
    {% endblock footer %}
</body>
</html>