{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/logo.jpg' %}" />
    <title>Dragons Edge Creations</title>
</head>
<body>
    <header>
        <img src="{% static 'images/header.jpg' %}" alt="Header Image" class='border'>
        <nav>
            {% block menu %} {% include 'menu.html' %} {% endblock menu %}
        </nav>
    </header>
    <main>
        <div class="header">
            <h3>Take your time to browse the website to check out our skills. Please reach out with any questions.
                <br><br>
                Do you care about a young child aged 4 – 7 and want them to feel loved? Are you a parent, grandparent, aunt, uncle, sister, brother, teacher, counselor, librarian, therapist, or psychiatrist? Zag is a caring tree frog that interacts with your child showing how much he cares and puts the reader right in the story. It is an interactive story. Zag helps children feel good about themselves. Try it and watch them blossom.<br><br>
                Do you enjoy getting lost in a story and a different world? Do you love fantasy? Are you looking for a new story to read and relax? Jar child is a fantasy story about a society where children grow up on campus in jars. The main character is a child coming to the age of testing to determine if she is promoted and graduates to living outside the jar. You’ll learn about her life, training, and challenges. Stay tuned for more details, as this is a work in progress.<br><br>
                Are you someone that enjoys abstract art or landscape photography? You will enjoy our art as it is as unique as you are because everyone sees something different. It all comes from your mind. Check out our Art page, and you will be thrilled.<br><br>
                If you are a technical communicator or learning and development leader, you have come to the right place to find help achieving growth with your employees with easy-to-understand documents and successfully trained employees. We are here for you and can work remotely socially distancing without ever having to step into your office. Reach out to us so we can help solve your pain points.</h3>
        </div>
    </main>
    <footer>
        {% block footer %} {% include 'footer.html' %} {% endblock footer %}
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>