{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="header">
        <h3>Do you like abstract art and landscape photos? Browse the art page and checkout what we have to offer.
        We are sure you'll find something you like.</h3>
        <h3>Do you like innovative children's books? Join our private Facebook group and learn about our children's book that's coming out later this year and a fantasy story that is a work in progress</h3>
        <h3>Take your time to browse the website to check out our other skills. Please reach out with any questions.</h3>
    </div>
{%endblock%}