{% load static %}
<!DOCTYPE html>
<html lang="en">
<body>
    {% block menu %}
    <a href="/">Home</a>
    <span>
        <span id="showAbout">About &#8595;</span>
        <div id="aboutHide">
            <a href="/about/">About</a>
            <span>
                <span id="showPortfolio">Portfolio &#8595;</span>
                <div id="portfolioHide">
                    <a href="/uc/">Technical Writing</a>
                    <a href="/uc/">Instructional Design</a>
                    <a href="/uc/">eLearning</a>
                    <a href="/uc/">Supplemental</a>
                </div>
            </span>
        </div>
    </span>
    <span>
        <span id="showServices">Services &#8595;</span>
        <div id="servicesHide">
            <a href="/books/">Books</a>
            <a href="/art/">Art</a>
        </div>
    </span>
    <a href="/uc/">Contact</a>
    <a href="/theAdmin/"><img src="{% static 'images/dragonIcon.jpg'%}" alt="Logo Image" id="admin"></a>
    {% endblock menu %}
</body>
</html>