{% load static %}
<!DOCTYPE html>
<html lang="en">
<body>
    {% block menu %}
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <span>
        <span id="showPortfolio">Portfolio &#8595;</span>
        <div id="portfolioHide">
            <a href="/uc/">Technical Writing</a>
            <a href="/uc/">Instructional Design</a>
            <a href="/uc/">eLearning</a>
            <a href="/uc/">Supplemental</a>
        </div>
    </span>
    <span>
        <span id="showServices">Creations &#8595;</span>
        <div id="servicesHide">
            <a href="/books/">Books</a>
            <a href="/art/">Art</a>
        </div>
    </span>
    <a href="/uc/">Contact</a>
    {% endblock menu %}
</body>
</html>